.page{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 750px;
    height: 750px;
    border: solid
}

.box{
    display: flex;
    flex-grow: 1;
}

.buttonRow{
    display: flex;
    flex-direction: row;
    justify-content: center;   
}
.rowbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.btn{
    padding: 20px;
}
.enter{
    display: flex;
    justify-content: space-around;
}