.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}

.box{
    min-height: 36px;
    min-width: 36px;
}

.buttonRow{
    display: flex;
    flex-direction: row;
    justify-content: center;   
}
.rowbox{
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.btn{
    padding: 20px;
}
.enter{
    display: flex;
    justify-content: space-around;
}